{% load static %}
<!DOCTYPE html>
<html>

<head>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Budget App</title>
        <script src="{% static 'scripts.js' %}"></script>
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script type='text/javascript' src="{% static 'dynamicpage.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>

<nav class="blue" >
     <center><a href='{% url "index" %}' class='welcome'>Cześć, {{ user }}</a></center>
</nav>

    <!-- Sidebar -->

    <div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
        <ul>
            <li><a href="app"><span><i class="material-icons" style="font-size: 50px; margin-left: -8px;">paid</i><span class="icon-text" style="font-size:30px">&nbsp;&nbsp;&nbsp;&nbsp;MyMoney</span></a></li>
            <li><a href="app"><span><i class="material-icons">dashboard</i><span class="icon-text">&nbsp;&nbsp;&nbsp;&nbsp;Pulpit</span></a></li>
            <li><a href="operations"><i class="material-icons">grading</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;Operacje</a></span></li>
            <li><a href="payments"><i class="material-icons">paid</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;Dochody</a></span></li>
            <li><a href="charts"><i class="material-icons">stacked_bar_chart</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;Wykresy</span></a></li>
            <li><a href="calendar"><i class="material-icons">calendar_view_month</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;Kalendarz</span></a></li>
            <li><a href="raports"><i class="material-icons">article</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;Raporty</span></a></li>
            <li><a href="settings"><i class="material-icons">settings</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;Ustawienia</span></a></li>
        </ul>
        <a href="{% url "logout" %}" class="logout"><i class="material-icons">logout</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;logout<span></a>
    </div>

<div id="main">
        <div class="section">
            <form class="col s12" action='{% url "add payment" %}' method='post'>
                {% csrf_token %}
                <div class="row">
                    <div class="container">
                            <div class="dash_info_payment col s3 offset-s3 "><a class="title_dash_balance2">Ten miesiąc</a>
                                            <h4 class="amount_dash_balance2">{{expense_month}}zł</h4></div>
                            <div class="dash_info_payment col s3 offset-s3"><a class="title_dash_balance3">Zeszły miesiąc</a>
                                            <h4 class="amount_dash_balance2">{{expense_month_last}}zł</h4></div>
                            <br><br><br><br><br><br><br>
                        <h4 class="add_expanse_title">Dodaj wpłatę</h4>
                         <div class="add_item">
                        <div class="input-field col s2">
                            <input placeholder="Nazwa" name="payment_name" id='payment_name' type='text' class='validate'>
                        </div>
                        <div class="input-field col s2">
                            <select name="category" id='category' class='validate'>
                                <option value="" disabled selected>Kategoria</option>
                                <option value="Wypłata">Wypłata</option>
                                <option value="Nagroda">Nagroda</option>
                                <option value="Inne">Inne</option>
                            </select>
                        </div>
                        <div class="input-field col s2">
                            <input placeholder='Wartość' name='cost' id='cost' type='number' min="0" class='validate'>
                        </div>
                        <div class="input-field col s2">
                            <input placeholder='Data' name="payment_date" id="payment_date" type="text" class='datepicker'>
                        </div>
                        <button class="btn-floating btn-large waves-effect waves-light blue">
                            <i class="material-icons right">add</i>
                        </button>
                    </div>
                </div>
            </form>
            </div>
        </div>

    <div class="section">
            <div class="row">
                <div class="container">
                    <div class="col s12">
                        <table class="highlight centered responsive-table" ">
                            <thead>
                                <tr style="font-size: 20px; font-weight: 300;">
                                    <th></th>
                                    <th>Użytkownik</th>
                                    <th>Nazwa</th>
                                    <th>Kategoria</th>
                                    <th>Wartość</th>
                                    <th>Data</th>
                                    <th>Usuń</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody style="font-size: 18px; font-family: 'Montserrat', sans-serif; font-weight: 800;">
                                {% for expense_item in expense_items %}
                                <tr>
                                    <td><img src="media/{{expense_item.category}}.png"></td>
                                    <td>{{ expense_item.username}}</td>
                                    <td>{{ expense_item.expense_name }}</td>
                                    <td>{{ expense_item.category }}</td>
                                    <td>{{ expense_item.cost }}zł</td>
                                    <td>{{ expense_item.date_added}}</td>
                                    <td><a href="{% url 'delete item' expense_item.id %}"><i class="material-icons" style="color: red;">delete</i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>
</body>

</html>