{% load static %}
<!DOCTYPE html>
<html>

<head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Budget App</title>
        <script src="{% static 'scripts.js' %}"></script>
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script type='text/javascript' src="{% static 'dynamicpage.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>

<nav class="blue" >
     <center><a href='{% url "index" %}' class='welcome'>Cześć, {{ user }}</a></center>
</nav>

    <!-- Sidebar -->

    <div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
        <ul>
           <li><a href="app"><span><i class="material-icons" style="font-size: 50px; margin-left: -8px;">paid</i><span class="icon-text" style="font-size:30px">&nbsp;&nbsp;&nbsp;&nbsp;MyMoney</span></a></li>
            <li><a href="app"><span><i class="material-icons">dashboard</i><span class="icon-text">&nbsp;&nbsp;&nbsp;&nbsp;Pulpit</span></a></li>
            <li><a href="operations"><i class="material-icons">grading</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;Operacje</a></span></li>
            <li><a href="payments"><i class="material-icons">paid</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;Dochody</a></span></li>
            <li><a href="charts"><i class="material-icons">stacked_bar_chart</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;Wykresy</span></a></li>
            <li><a href="calendar"><i class="material-icons">calendar_view_month</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;Kalendarz</span></a></li>
            <li><a href="raports"><i class="material-icons">article</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;Raporty</span></a></li>
            <li><a href="settings"><i class="material-icons">settings</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;Ustawienia</span></a></li>
        </ul>
        <a href="{% url "logout" %}" class="logout"><i class="material-icons">logout</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;logout<span></a>
    </div>

<div id="main">
    <div class="container">
        <div class="row">
            <div class="col s6" style="text-align:center;">
                <div class="export_title">
                    <h2>Eksport Excel</h2>
                    <img src="https://findicons.com/files/icons/2795/office_2013_hd/2000/excel.png" width="80" height="95">
                </div>
                <form class="excel" action='{% url "export_xls" %}' method='post'>
                    {% csrf_token %}
                    <h5 class="fromto">Od:</h5>
                    <input name="from" id="from" type="text" style="text-align:center;" class="datepicker">
                    <h5 class="fromto">Do:</h5>
                    <input name="to" id="to" type="text" style="text-align:center;" class="datepicker">
                    <button class="btn-floating btn-large waves-effect waves-light blue" style="margin-top:20px;">
                            <i class="material-icons right">file_download</i>
                    </button>
                </form>
<!--                <a href='{% url "export_xls" %}' class="btn">Export xls</a>-->
            </div>
            <div class="col s6" style="text-align:center;">
                <div class="export_title">
                    <h2>Eksport PDF</h2>
                    <img style="margin-bottom:20px;" src="https://media.istockphoto.com/vectors/icon-major-file-format-vector-icon-illustration-vector-id1298834280?b=1&k=20&m=1298834280&s=170667a&w=0&h=wcKtTYmT8r8LIzTnVLyhVBRpCUJIdR6g0GtW0RIpxxg=" width="80" height="95">
                    <form class="excel" action='{% url "export_pdf" %}' method='post'>
                    {% csrf_token %}
                    <h5 class="fromto">Od:</h5>
                    <input name="from" id="from" type="text" style="text-align:center;" class="datepicker">
                    <h5 class="fromto">Do:</h5>
                    <input name="to" id="to" type="text" style="text-align:center;" class="datepicker">
                    <button class="btn-floating btn-large waves-effect waves-light blue" style="margin-top:20px;">
                            <i class="material-icons right">file_download</i>
                    </button>
                </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>