{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="scripts.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="card center spacer">
            <center><h1 >MyMoney</h1></center>
            <div class="text-center line form-divider"> </div>
            <form method="POST" actione="." class="login-form spacer" id="signup-form">
            {% csrf_token %}
                <div class="errors">
                    <p>{{form.errors}}</p>
                </div>

                <div class="input-group">
                    <img class="icon input-icon" src="{% static 'icons/profile-user.svg' %}" alt="">
                    {{form.username}}
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="{% static 'icons/key.svg' %}" alt="">
                    {{form.password1}}
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="{% static 'icons/key.svg' %}" alt="">
                    {{form.password2}}
                </div>
                <div class="budget_id">Dołącz do budżetu lub stwórz nowy
                    <a href="index.htm" title="Minimum 8 dowolnych znaków">
                        <img class="info" src="{% static 'icons/info.png' %}" alt="">
                    </a>
                </div>

                <div class="input-group">
                    <img class="icon input-icon" src="{% static 'icons/envelope.png' %}" alt="">
                    {{form.last_name}}
                </div>

                <input type="submit" class="submit" value="Dołącz">
            </form>

        </div>


    </div>

    <div class="redirect">
        Masz już konto?&nbsp;<a href="/" class="link">Zaloguj się</a>
        <br><br>
<!--        <a href="forgot-password.html" class="link">Forgot password?</a>-->
    </div>


</body>
</html>
